<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/scripts/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/api">RESTful API</a></li>
      </ul>
        {{{body}}}
      <footer>&copy; 2016 yevhenii GovReg</footer>
    </div>
    <script src='/scripts/js/bootstrap.js'></script>
  </body>
</html>
